@import "../constant.css";

.footer {
    height: 20rem;
    background-color: var(--background-grey);
    display: grid;
    grid-template-columns: 1fr 970px 1fr;
    color: var(--color-white);
}

.footerContainer {
    grid-column: 2;
    padding: 2rem 0;
}