.containerFluid {
  height: 70vh;
  width: 100%;
  position: relative;
}

.img {
  height: 100%;
  width: 100%;
}

.infos {
  position: absolute;
  top: 5rem;
  left: calc((100vw - var(--size-lg)) / 2);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 3;
  border-radius: var(--border-radius);
  padding: 2rem;
  color: var(--color-white);
}

@media only screen and (max-width: 992px) {
  .infos {
    left: calc((100vw - var(--size-md)) / 2);
  }
}

@media  only screen and (max-width: 768px) {
  .infos {
    left: calc((100vw - var(--size-sm)) / 2);
  }
}

@media  only screen and (max-width: 576px) {
  .infos {
    left: 2vw;
    bottom: 2vw;
    right: 2vw;
    top: inherit;
  }
}


