:root {
    --background-grey: #2D3436;
    --light-grey: #DADADA;
    --color-white: #FFF;
    --border-radius: 8px;
    --border-radius-round: 50%;
    --size-sm: 576px;
    --size-md: 768px;
    --size-lg: 992px;
    --size-xl: 1200px;
}