@import "../constant.scss";

.footer {
    height: 20rem;
    background-color: var(--background-grey);
    display: grid;
    grid-template-columns: 1fr var(--size-lg) 1fr;
    color: var(--color-white);
}

.footerContainer {
    grid-column: 2;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: darken(white, 10%);
        }
    }
}

@media (max-width: 992px) {
    .footer {
        grid-template-columns: 1fr var(--size-md) 1fr;
    }
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr var(--size-sm) 1fr;
    }
}

@media (max-width: 576px) {
    .footer {
        grid-template-columns: 2vw 96vw 2vw;
    }
}